#container {
	width: 800px;
	border: 1px solid green;
	margin: 0 auto;
}
header {
	height: 100px;
	border: 1px solid green;
}
.logo {
	width: 300px;
	height: 100px;
	border: 1px solid green;
	float: left;
	text-align: center;
	line-height: 100px;
	color: red;
}
.banner {
	width: 494px;
	height: 100px;
	border: 1px solid green;
	float: left;
	text-align: center;
	line-height: 100px;
}
#main {
	height: 300px;
	border: 1px solid green;
}
#menu {
	height: 100px;
	border: 1px solid green;
	text-align: center;
	line-height: 100px;
}
#content {
	height: 200px;
	border: 1px solid green;
	text-align: center;
	line-height: 200px;
}
footer {
	height: 150px;
	border: 1px solid green;
}
.footer_left {
	width: 399px;
	height: 150px;
	border: 1px solid green;
	float: left;
	text-align: center;
	line-height: 150px;
}
.footer_right {
	width: 395px;
	height: 150px;
	border: 1px solid green;
	float: left;
	text-align: center;
	line-height: 150px;
}
.footer_left .logo {
	height: 150px;
	width: 399px;
	line-height: 150px;
}
.banner, #content {
	color: green;
}